absl-py==1.0.0
astunparse==1.6.3
basemap==1.3.3
basemap-data==1.3.2
beautifulsoup4==4.11.1
cachetools==5.2.0
certifi==2022.6.15
charset-normalizer==2.0.12
click==8.1.3
cycler==0.11.0
decorator==4.4.2
deepface==0.0.75
eurostat==0.2.3
filelock==3.7.0
fire==0.4.0
Flask==2.1.2
flatbuffers==1.12
flickrapi==2.4.0
fonttools==4.33.3
future==0.18.2
fuzzywuzzy==0.18.0
gast==0.4.0
gdown==4.4.0
google-auth==2.6.6
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.46.3
gTTS==2.2.4
h5py==3.7.0
huggingface-hub==0.8.1
idna==3.3
imageio==2.19.3
imageio-ffmpeg==0.4.7
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.1.0
jsonpath-rw==1.4.0
keras==2.9.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.2
libclang==14.0.1
lxml==4.9.0
Markdown==3.3.7
MarkupSafe==2.1.1
matplotlib==3.5.2
midi2audio==0.1.1
MIDIUtil==1.2.1
mido==1.2.10
moviepy==1.0.3
mtcnn==0.1.1
nltk==3.7
numpy==1.22.4
oauthlib==3.2.0
opencv-python==4.5.5.64
opt-einsum==3.3.0
packaging==21.3
pandas==1.4.2
pandaSDMX==0.9
parrot @ git+https://github.com/PrithivirajDamodaran/Parrot_Paraphraser.git@4c53b28bcb2db8bc2ae055077853e2be4781f6f9
Pillow==9.1.1
ply==3.11
pretty-midi==0.2.9
proglog==0.1.10
protobuf==3.19.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydub==0.25.1
pyparsing==3.0.9
pyproj==3.3.1
pyshp==2.1.3
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==0.20.0
python-forecastio==1.4.0
python-Levenshtein==0.12.2
pytube==12.1.0
pytz==2022.1
PyVimeo==1.1.0
PyYAML==6.0
regex==2022.6.2
requests==2.28.0
requests-oauthlib==1.3.1
requests-toolbelt==0.9.1
responses==0.21.0
retina-face==0.0.12
rsa==4.8
scikit-learn==1.1.1
scipy==1.8.1
seaborn==0.11.2
sentence-transformers==2.2.1
sentencepiece==0.1.96
six==1.16.0
soupsieve==2.3.2.post1
tabulate==0.8.9
tensorboard==2.9.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.9.1
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.26.0
termcolor==1.1.0
threadpoolctl==3.1.0
tinydb==4.7.0
tokenizers==0.12.1
torch==1.11.0
torchvision==0.12.0
tqdm==4.64.0
transformers==4.20.1
tuspy==0.2.5
typing_extensions==4.2.0
Unidecode==1.3.4
urllib3==1.26.9
wbgapi==1.0.7
Werkzeug==2.1.2
wrapt==1.14.1
xlrd==2.0.1
